body {
    font-family: Arial, sans-serif;
    background-color: #d7bde2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .card-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e5e7e9;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #5499c7;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }

  .inf{
    padding-top:15px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 15px;
    }
  
    .form-control, .btn-success {
      font-size: 14px;
    }
  }
  